@model PagedList.IPagedList<TransportFormASP.Models.RefBookClient>
@using PagedList.Mvc
@{
    ViewBag.Title = "Клиенты";
}

<br />
<p>
    @Html.ActionLink("Создать новую запись", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => Model[0].ShortName).ToHtmlString(), "Index")
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => Model[0].FullName).ToHtmlString(), "Index")
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => Model[0].UNN).ToHtmlString(), "Index")
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => Model[0].AddressLegal).ToHtmlString(), "Index")
        </th>
        @*<th>
            @Html.ActionLink(Html.DisplayNameFor(model => Model[0].DirectorPositionIP).ToHtmlString(), "Index")
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => Model[0].DirectorSurnameIP).ToHtmlString(), "Index")
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => Model[0].BookerPositionIP).ToHtmlString(), "Index")
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => Model[0].BookerSurnameIP).ToHtmlString(), "Index")
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => Model[0].DirectorSurnameRP).ToHtmlString(), "Index")
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => Model[0].DirectorPositionRP).ToHtmlString(), "Index")
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => Model[0].BankAccount).ToHtmlString(), "Index")
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => Model[0].BankCode).ToHtmlString(), "Index")
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => Model[0].BankName).ToHtmlString(), "Index")
        </th>*@
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => Model[0].BankCity).ToHtmlString(), "Index")
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => Model[0].RefBookLand.LandId).ToHtmlString(), "Index")
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => Model[0].RefBookLand1.LandId).ToHtmlString(), "Index")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UNN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressLegal)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.DirectorPositionIP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DirectorSurnameIP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookerPositionIP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookerSurnameIP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DirectorSurnameRP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DirectorPositionRP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankAccount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankName)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.BankCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefBookLand.LandId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefBookLand1.LandId)
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Действия
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li> <a class="dropdown-item" href="@Url.Action("Edit", new { id = item.idRefBookClient })">Редактировать</a></li>
                        <li> <a class="dropdown-item" href="@Url.Action("Details", new { id = item.idRefBookClient })">Подробнее</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a class="dropdown-item" href="@Url.Action("Delete", new { id = item.idRefBookClient })">Удалить</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    }

</table>
<div>
    Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>