@using TransportFormASP.Models;
@model TransportationRequest
@{
    ViewBag.Title = "Create"; //Auto
}

@using (Html.BeginForm())
{

    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <div class="col-md-10">
                <p>Тип перевозки: </p>
                @Html.DropDownList("idTranshipmentMethod", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <p>Период перевозки: </p>
                <select class="form-control filter-select" table="4" column="DateMonth1" name="idDateMonth"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <p>Страна отправления: </p>
                <select class="form-control filter-select" table="2" column="LName" key-name="idRefBookLand" name="idRefBookLandFrom"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <p>Страна назначения: </p>
                <select class="form-control filter-select" table="2" column="LName" key-name="idRefBookLand" name="idRefBookLandTo"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <p>ГНГ: </p>
                <select class="form-control filter-select" table="0" column="Name" name="idRefBookGNG"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <p>ЕТСНГ: </p>
                <select class="form-control filter-select" table="1" column="Name" name="idRefBookETSNG"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <p>Пункт отправления: </p>
                @Html.EditorFor(model => model.DepartuePoint, new { htmlAttributes = new { @class = "form-control", @placeholder = "Введите пункт отправления" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <p>Пункт назначения: </p>
                @Html.EditorFor(model => model.DestinationPoint, new { htmlAttributes = new { @class = "form-control", @placeholder = "Введите пункт назначения" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <p>Грузоотправитель: </p>
                <select class="form-control filter-select" table="5" column="ShortName" key-name="idRefBookClient" name="Shipper"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <p>Грузополучатель: </p>
                <select class="form-control filter-select" table="5" column="ShortName" key-name="idRefBookClient" name="Consignee"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <p>Вес груза: </p>
                @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control", @placeholder = "Введите вес перевозимого груза" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <p>Особые условия по доставке: </p>
                <select class="form-control filter-select" table="6" column="SpecialCondition1" name="idSpecialCondition"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <p>Примечание: </p>
                @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control", @placeholder = "Введите примечание" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад к списку", "Index")
</div>






