@model TransportFormASP.Models.TransportationRequest

@{
    ViewBag.Title = "Удаление";
}

<h3>Вы точно хотите удалить запись?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TranshipmentMethod.TranshipmentMethod1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TranshipmentMethod.TranshipmentMethod1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateMonth.DateMonth1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateMonth.DateMonth1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.idRefBookLandFrom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RefBookLand.LName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.idRefBookLandTo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RefBookLand1.LName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RefBookGNG.Kod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RefBookGNG.Kod)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RefBookGNG.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RefBookGNG.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RefBookETSNG.Kod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RefBookETSNG.Kod)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RefBookETSNG.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RefBookETSNG.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DepartuePoint)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DepartuePoint)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DestinationPoint)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DestinationPoint)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Shipper)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RefBookClient.ShortName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Consignee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RefBookClient1.ShortName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SpecialCondition.SpecialCondition1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpecialCondition.SpecialCondition1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-danger" /> |
            @Html.ActionLink("Назад к списку", "Index")
        </div>
    }
</div>
