@model TransportFormASP.Models.TransportationRequest

@{
    ViewBag.Title = "Удаление";
}

<h3>Вы точно хотите удалить запись?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeliveryType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CargoUnitAmmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CargoUnitAmmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CargoUnitNumber.CargoUnitNumber1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CargoUnitNumber.CargoUnitNumber1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateMonth.DateMonth1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateMonth.DateMonth1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RailwayDispatch.DispatchType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RailwayDispatch.DispatchType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecialCondition.SpecialCondition1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecialCondition.SpecialCondition1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefBookCars.CarId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefBookCars.CarId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefBookClient.ShortName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefBookClient.ShortName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefBookClient1.ShortName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefBookClient1.ShortName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefBookETSNG.Kod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefBookETSNG.Kod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefBookGNG.Kod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefBookGNG.Kod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefBookLand.LandId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefBookLand.LandId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefBookLand1.LandId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefBookLand1.LandId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefBookOwner.OwnerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefBookOwner.OwnerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefBookStations.Kod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefBookStations.Kod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefBookStations1.Kod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefBookStations1.Kod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TranshipmentMethod.TranshipmentMethod1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TranshipmentMethod.TranshipmentMethod1)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-danger" /> |
            @Html.ActionLink("Назад к списку", "Index")
        </div>
    }
</div>
