@model TransportFormASP.Models.TransportationRequest

@{
    ViewBag.Title = "Подробнее";
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TranshipmentMethod.TranshipmentMethod1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TranshipmentMethod.TranshipmentMethod1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateMonth.DateMonth1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateMonth.DateMonth1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RefBookLand.LandId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RefBookLand.LandId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RefBookLand1.LandId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RefBookLand1.LandId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RefBookGNG.Kod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RefBookGNG.Kod)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RefBookETSNG.Kod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RefBookETSNG.Kod)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DepartuePoint)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DepartuePoint)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DestinationPoint)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DestinationPoint)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.PointAdress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PointAdress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactPhone)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.Shipper)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Shipper)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Consignee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Consignee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SpecialCondition.SpecialCondition1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpecialCondition.SpecialCondition1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Править", "Edit", new { id = Model.idTransportationRequest }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
