@model PagedList.IPagedList<TransportFormASP.Models.TransportationRequest>
@using PagedList.Mvc

@{
    ViewBag.Title = "Автомобильные перевозки";
}
<br />
<p>
    @Html.ActionLink("Создать новую запись", "Create", null, new { @class = "btn btn-primary" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => Model[0].DateMonth.DateMonth1).ToHtmlString(), "Index")
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => Model[0].RefBookLand.LandId).ToHtmlString(), "Index")
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => Model[0].RefBookLand1.LandId).ToHtmlString(), "Index")
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => Model[0].RefBookGNG.Kod).ToHtmlString(), "Index")
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => Model[0].RefBookETSNG.Kod).ToHtmlString(), "Index")
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => Model[0].DepartuePoint).ToHtmlString(), "Index")
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => Model[0].DestinationPoint).ToHtmlString(), "Index")
        </th>
        @*<th>
            @Html.ActionLink(Html.DisplayNameFor(model => Model[0].PointAdress).ToHtmlString(), "Index")
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => Model[0].ContactName).ToHtmlString(), "Index")
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => Model[0].ContactPhone).ToHtmlString(), "Index")
        </th>*@
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => Model[0].RefBookClient.ShortName).ToHtmlString(), "Index")
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => Model[0].RefBookClient1.ShortName).ToHtmlString(), "Index")
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => Model[0].Weight).ToHtmlString(), "Index")
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => Model[0].SpecialCondition.SpecialCondition1).ToHtmlString(), "Index")
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => Model[0].Note).ToHtmlString(), "Index")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateMonth.DateMonth1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefBookLand.LandId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefBookLand1.LandId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefBookGNG.Kod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefBookETSNG.Kod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartuePoint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationPoint)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.PointAdress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactPhone)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.RefBookClient.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefBookClient1.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialCondition.SpecialCondition1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Действия
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li> <a class="dropdown-item" href="@Url.Action("Edit", new { id = item.idTransportationRequest })">Редактировать</a></li>
                        <li> <a class="dropdown-item" href="@Url.Action("Details", new { id = item.idTransportationRequest })">Подробнее</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a class="dropdown-item" href="@Url.Action("Delete", new { id = item.idTransportationRequest })">Удалить</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    }

</table>
<div>
    Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>