@model PagedList.IPagedList<TransportFormASP.Models.RefBookCars>
@using PagedList.Mvc
<br />
<p>
    @Html.ActionLink("Создать новую запись", "Create", null, new { @class = "btn btn-primary" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => Model[0].DateDownload).ToHtmlString(), "Index")
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => Model[0].CarId).ToHtmlString(), "Index")
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => Model[0].Name).ToHtmlString(), "Index")
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => Model[0].Model).ToHtmlString(), "Index")
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => Model[0].GP).ToHtmlString(), "Index")
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => Model[0].Volume).ToHtmlString(), "Index")
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => Model[0].Axis).ToHtmlString(), "Index")
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => Model[0].TareW).ToHtmlString(), "Index")
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => Model[0].CarType).ToHtmlString(), "Index")
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => Model[0].Gross).ToHtmlString(), "Index")
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => Model[0].Length).ToHtmlString(), "Index")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateDownload)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Volume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Axis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TareW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gross)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Действия
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li> <a class="dropdown-item" href="@Url.Action("Edit", new { id = item.idRefBookCars })">Редактировать</a></li>
                        <li> <a class="dropdown-item" href="@Url.Action("Details", new { id = item.idRefBookCars })">Подробнее</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a class="dropdown-item" href="@Url.Action("Delete", new { id = item.idRefBookCars })">Удалить</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    }

</table>
<div>
    Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>